<section class="capture">
    <h2 id="documents" class="h2 capture__h2">ДОКУМЕНТЫ</h2>
    <div class="capture__block">
        <p class="text">Активистами по борьбе с незаконной вырубкой леса были отправлены запросы в различные инстанции, ответы на которые прилагаются ниже.</p>
        <br>
        <div class="docs">
            <a target="_blank" href="{{ asset('pdf/comitet_lesnogo_hozyastva_mo.pdf') }}" class="doc">
                <img class="responsive-img" src="{{ asset('icons/pdf.svg') }}" alt="">
                <span class="text">Комитет лесного хозяйства московской области</span>
            </a>
            <a target="_blank" href="{{ asset('pdf/federalnoe_agentstvo_lesnogo_hozyaystva.pdf') }}" class="doc">
                <img class="responsive-img" src="{{ asset('icons/pdf.svg') }}" alt="">
                <span class="text">Федеральное агентство лесного хозяйства</span>
            </a>
            <a target="_blank" href="{{ asset('pdf/administratsia_leninskogo_gorodskogo_okruga.pdf') }}" class="doc">
                <img class="responsive-img" src="{{ asset('icons/pdf.svg') }}" alt="">
                <span class="text">Администрация Ленинского городского округа московской области</span>
            </a>
            <a target="_blank" href="{{ asset('pdf/glavnoe_upravlene_gos_admin_teh_nadzora_mo.pdf') }}" class="doc">
                <img class="responsive-img" src="{{ asset('icons/pdf.svg') }}" alt="">
                <span class="text">Главное управление государственного административно-технического надзора московской области</span>
            </a>
            <a target="_blank" href="{{ asset('pdf/vipiska_lesnoy_fond_kvartal_16.pdf') }}" class="doc">
                <img class="responsive-img" src="{{ asset('icons/pdf.svg') }}" alt="">
                <span class="text">Выписка из государственного лесного реестра квартал 16</span>
            </a>
            <a target="_blank" href="{{ asset('pdf/vipiska_lesnoy_fond_kvartal_24.pdf') }}" class="doc">
                <img class="responsive-img" src="{{ asset('icons/pdf.svg') }}" alt="">
                <span class="text">Выписка из государственного лесного реестра квартал 24</span>
            </a>
            <a target="_blank" href="{{ asset('pdf/vipiska_lesnoy_fond_kvartal_25.pdf') }}" class="doc">
                <img class="responsive-img" src="{{ asset('icons/pdf.svg') }}" alt="">
                <span class="text">Выписка из государственного лесного реестра квартал 25</span>
            </a>
        </div>
    </div>
</section>